.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.containerPerso {
    position: relative;
    /* max-width: 300px; */
    
    bottom: 100px;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.image:hover {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.containerPerso:hover .overlay {
    height: 100%;
}


.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 40px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

@media screen and (max-width: 600px) {
    
}

.tuile{
    border: none; 
    
    transition: transform .2s;
}

.tuile:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    #searchInput{
        width: 20px;
    }

    .tuile{
        border: none; 
        bottom: 0px;
        margin: auto;
        margin-top: 20px;
    }

}


.footer-link{
    text-decoration: none;
}

.footer-link:hover{
    font-weight: bold;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#youtubeVideo{
    height: 300px;
}

@media only screen and (min-width: 600px) {
    #youtubeVideo{
        height: 700px;
    }
}


.side_view{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.side_view img{
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    cursor: pointer;
    margin:0.5rem;
}